*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.katta{
   max-width: 1440px;
margin-left: auto;
margin-right: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 32px 0px 0px 0px ;
    margin-left: auto;
margin-right: auto;
}
nav a{
    color: black;
}
nav div {
    display: flex;
    margin-left: 88px;
}
.ppp{
    width: 347px;
    justify-content: space-around;
    color: var(--ui-resources-background-dark-2, #2B2B2B);

/* Fonts/Body Text */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.section1{
    text-align: center;
}
.section1 h1{
    color: var(--text-text-primary, #2A2A2A);
text-align: center;
font-family: Poppins;
font-size: 65.34px;
font-style: normal;
font-weight: 600;
line-height: 82px; /* 125.497% */
}
.section1 p{
    color: var(--text-text-secondary, #2B2B2B);
text-align: center;

/* Fonts/Body Text */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.aaa{
    width: 200px;
    background: var(--color-brand-green, #285E67);
    height: 46px;
    padding: 10px 0px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 49px;
}
.aaa a{
    color: white;
    text-decoration: none;
}
.section2 {
    display: flex;
    justify-content: space-around;
    margin-top: 56px;
    flex-wrap: wrap;
    margin: 10px;
}
.section2 img {
    max-width: 100%;
}
.left{
    display: flex;
    width: 589px;
    margin-top: 61px;
    margin-left: 182px;
    justify-content: space-between;
}
.left div{
     max-width: 260px;   
}
.left div img{
    width: 26px;
    height: 29px;
}
.left div p{
    color: var(--text-text-secondary, #2B2B2B);

/* Fonts/Body Text */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.section3{
    display: flex;
flex-wrap: wrap;
}
.hhh{
    margin-top: 206px;
    margin-left: 185px;
    color: var(--text-text-secondary, #2B2B2B);
font-family: Poppins;
font-size: 50.52px;
font-style: normal;
font-weight: 600;
line-height: 62px; /* 122.724% */
}
.right img{
    margin-top: -170px;
}
@media (max-width: 1024px){
    .section3{
        display: none;
    }
    .hhh{
        display: none;
    }
    .section1 h1{
        max-width: 884px;
        margin-top: 20px;
        text-align: center;
    }
    .section1 p{
        max-width: 620px;
text-align: center;
margin-left: 60px;

    }
}
@media (min-width: 1024px){
    .section2 img{
        max-width: calc(100%/2);
    }
    
}
@media (min-width:700px ) and (max-width:1024){
.section1 p{
}
}



